@use "global" as *;

.layout-information {
    margin-top: rem(73);
    padding-top: rem(84);
    padding-bottom: rem(83);
    @include mq(md){
        margin-top: rem(166);
        padding-top: rem(100);
        padding-bottom: rem(76);
    }
}