@use "global" as *;

.two-colums__inner {
    position: relative;
}

.two-colums__decoration {
    z-index: 12;
    @include mq(md){
        z-index: 1;
    }
}

.two-colums__contents {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 8%;
    @include mq(md){
        flex-direction: row;
        align-items: flex-start;
    }
}

.two-colums__main {
    @include mq(md){
        width: 65.3%;
    }
}

.two-colums__items {
    padding-left: rem(6);
    padding-right: rem(6);
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
        gap: rem(85) rem(40);
    }
}

.two-colums__item {
    @include mq(md){
        width: calc((100% - 2.5rem) / 2);
    }
}

.two-colums__item +.two-colums__item {
    margin-top: rem(38);
    @include mq(md){
        margin-top: 0;
    }
}

.two-colums__sub {
    margin-top: rem(80);
    padding-left: rem(25);
    padding-right: rem(25);
    @include mq(md){
        margin-top: 0;
        width: 27.2%;
        padding: 0;
    }
}

.two-colums__message{
    margin-top: rem(100);
    text-align: center;
}

.two-colums__pagenavi {
    margin: rem(79) auto 0;
    
}