@use "global" as *;

.category {
    color: $accent-color;
    font-size: rem(12);
    line-height: 1;
    padding: rem(8) rem(11);
    border: 1px solid $accent-color;
    display: inline-block;
    @include mq(md){
        padding: rem(10) rem(16);
    }
}
