@use "global" as *;

.faq__inner {
    position: relative;
}

.faq__inner.inner {
    max-width: rem(600);
@include mq(md){
    max-width: rem(750);
    }
}

.faq__decoration {
    display: block;
    position: absolute;
    width: rem(120);
    top: rem(-25);
    left: rem(15);
    @include mq(md){
        width: rem(301);
        top: rem(-70);
        left: max(calc(50% - 49vw),-15.5rem);
    }
}

