@use "global" as *;

.mv-title {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: $base-color;
    line-height: 1;
    text-align: center;
}

.mv-title--green {
    @include mq(md){
        color: $accent-color;
    }
}

.mv-title__main {
    font-family: $lato-font-family;
    font-weight: $regular;
    text-transform: uppercase;
    font-size: rem(40);
    letter-spacing: 0.54em;
    text-indent: 0.54em;
    @include mq(md){
        font-size: rem(80);
    }
}

.mv-title__sub {
    font-size: rem(20);
    margin-top: rem(10);
    font-family: $gotu-font-family;
    @include mq(md){
        margin-top: rem(15);
    }
}