@use "global" as *;

.mv {
    position: relative;
    z-index: 1;
    height: 100vh;
    max-width: 100%;
    min-height: rem(400);
}

.mv__inner {
    height: inherit;
    min-height: inherit;
}

.mv__swiper {
    height: inherit;
    min-height: inherit;
}

.mv__img {
    height: inherit;
    min-height: inherit;
}

.mv__img img {
    height: inherit;
    min-height: inherit;
    width: 100%;
    object-fit: cover;
}
