@use "global" as *;

.page-form__item {
    border-bottom: 1px dashed $accent-color;
    padding-bottom: rem(25);
    @include mq(md){
        display: flex;
        gap: 4.7%;
        padding-bottom: rem(40);
    }
}

.page-form__item + .page-form__item {
    margin-top: rem(25);
    @include mq(md){
        margin-top: rem(40);
    }
}

.page-form__term {
    font-weight: $bold;
    line-height: 1;
    @include mq(md){
        width: 26.8%;
    }
}

.page-form__term span {
    color: $base-color;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
    background-color: #C94800;
    padding: rem(2) rem(14);
    margin-left: rem(5);
    letter-spacing: 0.4em;
}

.page-form__description {
    margin-top: rem(20);
    @include mq(md){
        margin-top: 0;
        width: 68.5%;
    }
}   

.page-form__description label {
    display: block;
}

.page-form__description--select {
    position: relative;
}

.page-form__description--select::after {
    content: "";
    position: absolute;
    display: block;
    border-left: rem(5) solid transparent;
    border-right: rem(5) solid transparent;
    border-top: rem(8) solid $accent-color;
    width: rem(8);
    height: rem(8);
    top: 30%;
    right: rem(8);
}

.page-form__description--error input[type="text"] {
    background-color: rgba($color: #C94800, $alpha: .20);
    border: 1px solid #C94800;
}

.page-form__description label:not(:first-of-type) {
    margin-top: rem(3);
}

.page-form__check {
    margin: rem(40) auto 0;
    max-width: rem(280);
    width: 100%;
    @include mq(md){
        margin-top: rem(80);
        max-width: initial;
        text-align: center;
    }
}

.page-form__check span {
    font-size: rem(14);
    line-height: 1.5;
}

.page-form__check span::before {
    top: 9%;
    transform: translateY(0);
    @include mq(md){
        top: 14%;
    }
}

.page-form__check [type=checkbox]:checked + span::after {
    top: 20%;
    transform: translateY(0) rotate(-45deg);
    @include mq(md){
        top: 35%;
    }
}

.page-form__button {
    display: block;
    margin: rem(28) auto 0;
    text-align: center;
    @include mq(md){
        margin-top: rem(40);
    }
}

.page-form__description span .wpcf7-list-item {
    display: block;
    margin-left: 0;
}

.wpcf7-not-valid-tip {
    position: absolute;
    display: none;
}

.wpcf7-form-control-wrap .wpcf7-not-valid::placeholder {
    color: white;
}

.wpcf7-response-output {
    border: none !important;
    color: #C94800;
    text-align: center;
    margin-bottom: rem(40)!important;
    padding: 0 !important;
}