@use "global" as *;

.privacy__inner {
    position: relative;
}

.privacy__inner.inner {
    max-width: rem(850);
}

.privacy__decoration {
    display: block;
    position: absolute;
    width: rem(120);
    top: rem(-23);
    left: max(calc(50% - 47vw),-12.4375rem);
    @include mq(md){
        width: rem(301);
        top: rem(-68);
    }
}

.privacy__title {
    position: relative;
}

.privacy__content {
    line-height: 2;
    margin-top: rem(40);

}

.privacy__title {
    font-size: rem(24);
    font-weight: $medium;
    @include mq(md){
        font-size: rem(32);
    }
}

.privacy__content p {
    margin-top: rem(30);
}

.privacy__content ol li {
    list-style: auto;
    margin-left: rem(24);
}


