@use "global" as *;

.price-table {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: none;
    height: auto;
}

.price-table__title {
    background-color: $accent-color;
    padding-top: rem(11);
    padding-bottom: rem(11);
    color: $base-color;    
    font-weight: $bold;
    line-height: 1;
    border: 1px solid $accent-color;
    @include mq(md){
        width: 28.5%;
    }
}

.price-table__title p {
    position: relative;
    display: inline-block;
    margin-left: rem(30);
    @include mq(md){
        margin-left: 0;
        margin-bottom: rem(73);
    }
}

.price-table__title p::before {
    content: "";
    background-image: url(../../assets/images/common/tab01-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: block;
    width: rem(24);
    height: rem(24);
    top: 50%;
    transform: translateY(-50%);
    left: rem(-31);
    @include mq(md){
        top: rem(28);
        left: 50%;
        transform: translate(-50%,0 );
        width: rem(64);
        height: rem(64);
    }
}

.price-table__main {
    font-size: rem(16);
    color: $base-color;
    font-weight: $bold;
    line-height: 1;
}

.price-table__title img {
    width: rem(24);
    height: rem(24);
    @include mq(md){
        width: rem(64);
        height: rem(64);
    }
}

.price-table__list {
    @include mq(md){
        width: 71.5%;
    }
}

.price-table tr td {
    border: 1px solid $accent-color;
    padding: rem(7) rem(5);
    height: rem(56);
    line-height: 1.5;
    @include mq(md){
        padding: rem(17) rem(14);
    }
}

.price-table__menu {
    width: 69.5%;
    @include mq(md){
        width: 48.5%;
        text-align: left;
    }
}

.price-table__price {
    width: 30.5%;
    text-indent: rem(14);
    @include mq(md){
        width: 23%;
        text-align: right;
    }
}