@use "global" as *;

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(16) 6%;
    background-color: $base-color;
    position: relative;
    z-index: 1;
    @include mq(md){
        justify-content: left;
        gap: rem(21) rem(32);
    }
}

.tab__link {
    max-width: 47%;
    width: 100%;
    text-align: center;
    background-color: $base-color;
    color: $accent-color;
    font-size: rem(14);
    font-weight: $regular;
    line-height: 1;
    border: 1px solid $accent-color;
    transition: .3s;
    cursor: pointer;
    @include mq(md){
        max-width: rem(162);
    }
}

.tab__link a {
    padding-top: rem(9);
    padding-bottom: rem(9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.tab__link:hover {
    background-color: $accent-color;
    color: $base-color;
}

.tab__link.is-active {
    background-color: $accent-color;
    color: $base-color;
}
