@use "global" as *;

.voice-page {

}

.voice-page__inner {
    position: relative;
}

.voice-page__contents {
    margin-top: rem(40);
}

.voice-page__message {
    text-align: center;
}

.voice-page__pagenavi {
    margin-top: rem(80);
    @include mq(md){
        margin-top: rem(72);
    }
}